<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
</head>
<body>
    <h1>Editar Producto</h1>
    <form action="{{ url_for('editar',id=Producto.id)}}" method="POST">
        Nombre: <input type="text" name="nombre" value="{{ Producto['nombre'] }}" required><br>
        Cantidad: <input type="number" name="cantidad" value="{{ Producto['cantidad']}}" min="1" step="1" required><br>
        Precio: <input type="number" name="precio" value="{{Producto['precio']}}" step="0.01" min="0" required><br>
        Fecha vencimiento: <input type="date" name="fecha_vencimiento" value="{{Producto['fecha_vencimiento']}}" required><br>
        Categoria: <input type="text" name="categoria" value="{{Producto['categoria']}}" required><br>
        <input type="submit">
    </form>
</body>
</html>